@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h3>Hierarchical Tracing</h3>
    <hr />
    <div id="webtrace">

        <h2>User Define Trace Artifacts</h2>
        <section>
            <h3>Data Folders</h3>
            <div class="list-group">
                @{
                    var datafolders = ViewData["datafolders"] as System.Web.UI.WebControls.TreeNode;
                    foreach (System.Web.UI.WebControls.TreeNode item in datafolders.ChildNodes)
                    {
                        <div class="list-group-item">
                            @item.Text
                            <div class="list-group">
                                @if (@item.ChildNodes != null)
                                {
                                    foreach (System.Web.UI.WebControls.TreeNode subitem in @item.ChildNodes)
                                    {
                                        <div class="list-group-item">@subitem.Text</div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
                

            </div>
        </section>
        <h2>Pre-Processing</h2>
        <section>
            <div class="row">
                <div class="col-sm-2">
                    <table class="table table-hover">
                        @{
                            var termmap = ViewData["TermMap"] as List<string>;
                            <thead>Terms (Total = @termmap.Count()) </thead>
                            foreach (var item in ViewData["TermMap"] as List<string>)
                            {
                                <tr><td> @item</td></tr>
                            }
                        }
                    </table>
                </div>
                <div class="col-sm-2">
                    <table class="table table-hover">
                        @{
                            var DocMap = ViewData["DocMap"] as List<string>;
                            <thead>Documents (Total = @DocMap.Count())</thead>
                            foreach (var item in ViewData["DocMap"] as List<string>)
                            {
                                <tr><td>@item</td></tr>
                            }
                        }
                    </table>
                </div>
                <div class="col-sm-2">
                    <table class="table table-hover">
                        <thead>Rawmartix</thead>
                        @{
                            var RawMatrix = ViewData["RawMatrix"] as double[][];
                            var TermIndexLookup = ViewData["TermIndexLookup"] as Dictionary<string, int>;
                            var DocIndexLookup = ViewData["DocIndexLookup"] as Dictionary<string, int>;
                            for (int x = 0; x < RawMatrix.GetUpperBound(0); x++)
                            {
                                <tr>
                                    <td>
                                        <div class="panel panel-primary">
                                            <div class="page-heading">
                                                @DocIndexLookup.Where(z => z.Value == Convert.ToInt64(RawMatrix[x][0])).Select(z => z.Key).FirstOrDefault()
                                            </div>
                                            <div class="panel-body">
                                                @for (int y = 0; y < RawMatrix.GetUpperBound(0); y++)
                                                {
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td>@RawMatrix[x][y] </td>
                                                            <td>@TermIndexLookup.Where(z => z.Value == y).Select(z => z.Key).FirstOrDefault()</td>
                                                        </tr>
                                                    </table>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>

            </div>
        </section>
        <h2>IR Engine Trace Links Generation</h2>
        <section>
            <p>
                Morbi ornare tellus at elit ultrices id dignissim lorem elementum. Sed eget nisl at justo condimentum dapibus. Fusce eros justo,
                pellentesque non euismod ac, rutrum sed quam. Ut non mi tortor. Vestibulum eleifend varius ullamcorper. Aliquam erat volutpat.
                Donec diam massa, porta vel dictum sit amet, iaculis ac massa. Sed elementum dui commodo lectus sollicitudin in auctor mauris
                venenatis.
            </p>
        </section>
        <h2>User Verify Trace Links</h2>
        <section>
            <p>
                Quisque at sem turpis, id sagittis diam. Suspendisse malesuada eros posuere mauris vehicula vulputate. Aliquam sed sem tortor.
                Quisque sed felis ut mauris feugiat iaculis nec ac lectus. Sed consequat vestibulum purus, imperdiet varius est pellentesque vitae.
                Suspendisse consequat cursus eros, vitae tempus enim euismod non. Nullam ut commodo tortor.
            </p>
        </section>

    </div>


</div>
